/* Header */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 50px 0;
  width: 1100px;
  height: 293px;
}

.header__menu {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  width: 500px;
  height: 22px;
  margin-bottom: 90px;
}

.header__menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__menu a:first-child {
  width: 67px;
  margin-bottom: 6px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}

.header__menu a:nth-child(2)::before,
.header__menu a:nth-child(3)::before {
  content: '';
  width: 7px;
  height: 7px;
  margin-right: 11px;
  border: 1px solid #000;
  border-radius: 50%;
}

.header__menu a:nth-child(2) {
  margin-bottom: 6px;
}

.header__menu a:nth-child(2) span {
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.header__menu a:nth-child(3) {
  margin-left: 6px;
  margin-bottom: 6px;
}

.header__menu a:nth-child(3) span {
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.header__logo {
  position: absolute;
  top: 92px;
  left: 478px;
  width: 148px;
  height: 105px;
}

.header__logo img {
  width: 148px;
  height: 105px;
}

.header__address {
  display: flex;
  margin-bottom: 95px;
  align-items: flex-start;
  flex-direction: column;
  max-width: 240px;
  justify-self: end;
  font-style: normal;
  line-height: 24px;
}

.header__address a {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.header__address a[href^='tel'] {
  display: flex;
  width: 239px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}

.header__address a[href^='mailto'] {
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}

.header__address p {
  display: flex;
  width: 236px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}

/* Cover */
.cover {
  position: absolute;
  width: 1100px;
  height: 757px;
  top: 293px;
  padding: 165px 50px 50px;
  background: rgba(0, 0, 0, 1);
}

.cover__image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1100px;
  height: 757px;
  opacity: 0.6;
}

.cover__title {
  position: absolute;
  width: 1000px;
  height: 385px;
  top: 165px;
  left: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 135px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.cover__title span:first-child {
  position: absolute;
  top: 165;
  left: 60;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.cover__title span:nth-child(2) {
  position: absolute;
  top: 135px;
  left: 331px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-align: center;
  text-transform: uppercase;
}

.cover__title span:nth-child(3) {
  position: absolute;
  top: 270px;
  left: 613px;
  text-align: right;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-align: right;
  text-transform: uppercase;
}

.cover__description {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 51px;
  top: 656px;
  left: 50px;
}

.cover__description p {
  height: 28px;
  margin-top: 4px;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: Raleway;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}

/* Lots */
.lots {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1052px;
  height: 723px;
  margin-top: 938px;
  margin-left: 24px;
}

.lots__heading {
  display: flex;
  width: 121px;
  height: 47px;
  margin-bottom: 27px;
  margin-left: 40px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
}

.lots__card-list-item:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 596px;
  background: linear-gradient(#00000099, #00000099),
    url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.lots__card-list-item:first-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lots__card-list-item:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 596px;
  background: linear-gradient(#00000099, #00000099),
    url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.lots__card-list-item:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 596px;
  background: linear-gradient(#00000099, #00000099),
    url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.card__title {
  width: 254px;
  height: 82px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline 0%;
  text-underline-offset: 12%;
}

.card__text {
  width: 254px;
  height: 144px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.lots__card-list-item:nth-child(2) .card__text {
  width: 254px;
  height: 360px;
  top: 188px;
  left: 40px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.lots__card-list-item:nth-child(3) .card__text {
  width: 254px;
  height: 264px;
  top: 284px;
  left: 40px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.lots__look-more-link {
  width: 192px;
  height: 23px;
  margin-top: 35px;
  margin-left: 40px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  color: #000;
}

/* About */
.about {
  display: flex;
  flex-direction: row;
  /* align-items: flex-end; */
  justify-content: flex-end;
  gap: 45px;
  width: 1052px;
  height: 595px;
  margin-top: 156px;
}

.about__column {
  display: flex;
  flex-direction: column;
  width: 693px;
  height: 449px;
}

.about__column:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background: #000000;
  border-radius: 50%;
}
.about__column:first-child img {
  width: 148px;
  height: 114px;
}

.about__column:nth-child(2) {
  margin-top: 199px;
}

.about__title {
  width: 291px;
  height: 60px;
  margin-top: -95px;
  margin-left: 25px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 693px;
  height: 400px;
}

.about__text p:first-child {
  display: flex;
  width: 680px;
  height: 120px;
  margin-top: 82px;
  margin-left: 25px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.about__text p:nth-child(2) {
  display: flex;
  margin-top: 5px;
  margin-left: 25px;
  width: 693px;
  height: 168px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.footer {
  position: absolute;
  top: 2848px;
  display: flex;
  justify-content: space-between;
  width: 1100px;
  height: 180px;
  padding: 0 50px;
}

.footer__address {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 265px;
  height: 98px;
  font-style: normal;
  line-height: 24.3px;
}

.footer__address a {
  position: relative;
  height: 24px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  color: #000;
  text-decoration: none;
}
.footer__address a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #000000;
  width: 100%;
}

.footer__address p {
  width: 261px;
  height: 49px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
}

.footer__menu {
  display: flex;
  margin-right: 20px;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.footer__menu a {
  position: relative;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.footer__menu a:nth-child(2)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #000000;
  width: 100%;
}

.footer__menu a:nth-child(3)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #000000;
  width: 100%;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  padding: 0;
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-link img {
  width: 48px;
  height: 48px;
}
