/* Header */
.header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 92px 50px 96px;
  width: 1100px;
  gap: 35px;
}

.header__menu {
  width: 391px;
}

.header__menu-list {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: circle;
}

.header__menu-item {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.header__menu-item:first-child {
  list-style-type: none;
}

.header__menu-link {
  text-decoration: none;
  color: #000;
}

.header__menu-link:not(.header__menu-link_active) {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__logo {
  display: flex;
  width: 148px;
  height: 105px;
  align-self: start;
}

.header__logo img {
  width: 148px;
  height: 105px;
}

/* Общие стили для адреса */
.address {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-style: normal;
  line-height: 1.5rem;
}

.address a {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #000;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.address p {
  width: 240px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5rem;
  letter-spacing: 0;
}

/* Специфичные стили header__address */
.header__address {
  max-width: 240px;
  width: 100%;
  margin-left: auto;
}

/* Cover */
.cover {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  max-width: 1100px;
  padding: 165px 50px 50px;
  position: relative;
  background: url('../images/cover.jpg') no-repeat center / cover;
  gap: 106px;
  margin-bottom: 180px;
}

.cover__title {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 20px 25px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.cover__title-word {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.cover__title-word_position_center {
  align-self: center;
  /* Это компенсирует лишний letter-spacing после последней буквы. */
  margin-right: -0.3em;
}

.cover__title-word_position_right {
  align-self: flex-end;
  margin-right: -0.3em;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

.cover__description p {
  margin-top: 4px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}

/* Lots */
.lots {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1052px;
  margin: 0 24px 120px;
  gap: 34px;
}

.lots__heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0;
  list-style: none;
}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
}

/* Overlay для затемнения */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Уникальные фоны для карточек */
.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_painting {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 254px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 12%;
}

.card__text {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 254px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
}

.lots__look-more-link {
  margin-left: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  color: #000;
}

/* About */
.about {
  display: flex;
  flex-direction: row;
  gap: 72px;
  width: 100%;
  max-width: 1052px;
  margin: 0 24px 180px;
}

.about__column:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background: #000000;
  border-radius: 50%;
  margin-left: 47px;
  margin-top: 35px;
}

.about__column:first-child img {
  width: 148px;
  height: 114px;
}

.about__column:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 693px;
  margin-top: 139px;
  gap: 100px;
}

.about__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text p {
  display: flex;
  width: 100%;
  max-width: 693px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  padding: 0 50px 82px;
}

/* Специфичные стили footer__address */
.footer__address {
  width: 265px;
}

.footer__address p {
  width: 100%;
  max-width: 261px;
}

.footer__menu {
  margin-right: 20px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__menu-item {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.footer__menu-item:first-child {
  list-style-type: none;
}

.footer__menu-link {
  text-decoration: none;
  color: #000;
}

.footer__menu-link:not(.footer__menu-link_active) {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  padding: 0;
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-link img {
  width: 48px;
  height: 48px;
}
